.host {
  box-sizing: border-box;
  color: rgba(51, 51, 34, 0.5);
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0.25rem 0.5rem;
  text-align: right;
  transition: all 0.5s ease;
  width: 50%;
}

.host input {
  background: transparent;
  border: 0;
  border-bottom: 2px dashed rgba(51, 51, 34, 0);
  color: #332;
  font-size: 1.25rem;
  text-align: right;
  transition: all 0.5s ease;
  width: 6rem;
}

.host label:hover {
  color: #332;
}

.host label:hover input,
.host input:focus {
  border-color: rgba(51, 51, 34, 0.75);
}

.host input:focus {
  background: #fff;
  outline: none;
}

.host input[type='number'] {
  -moz-appearance: textfield;
}

.host input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.host input:invalid {
  color: red;
  border-color: red;
}

@media only screen and (min-width: 512px) {
  .host {
    box-sizing: content-box;
    width: 8rem;
  }
}
