.host {
  display: flex;
  flex-direction: column;
}

.host fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.host legend {
  font-size: 1.4rem;
  padding: 1rem 0 0;
}
