.host {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  padding: var(--pad-large);
  transition: all var(--animation) ease;
}

.host[open] {
  background: #fff;
}

.host > summary {
  border-bottom: 2px dashed transparent;
  font-size: var(--font-size-regular);
  transition: color var(--animation) ease;
}

.host[open],
.host > summary:hover,
.host > summary:focus {
  color: var(--color-text-primary);
}

.host > summary:focus {
  border-color: var(--color-text-secondary);
  outline: none;
}

.host[open] > summary {
  margin-bottom: 0.5rem;
}
