.host {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0.5rem;
  padding: 0;
}

.host > legend {
  font-size: var(--font-size-subheading);
  padding: 0;
  width: 100%;
}
