:root {
  --animation: 0.3s;
  --color-background: #ffe;
  --color-background-alternative: #fff;
  --color-error: #e02615;
  --color-text-primary: #333022;
  --color-text-secondary: #877e5a;
  --font-size-small: 0.75rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.25rem;
  --font-size-subheading: 1.5rem;
  --font-size-heading: 1.75rem;
  --pad-very-small: 0.0625rem;
  --pad-small: 0.25rem;
  --pad-medium: 0.5rem;
  --pad-large: 1rem;
}

html {
  cursor: default;
  font-size: 14px;
  height: 100%;
}

body {
  align-items: center;
  background: var(--color-background);
  color: var(--color-text-primary);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 512px) {
  html {
    font-size: 16px;
  }
}

details {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  padding: var(--pad-large);
  transition: all var(--animation) ease;
}

details[open] {
  background: var(--color-background-alternative);
}

details summary {
  border-bottom: 2px dashed transparent;
  cursor: pointer;
  font-size: var(--font-size-large);
  transition: color var(--animation) ease;
}

details[open],
details summary:hover,
details summary:focus {
  color: var(--color-text-primary);
}

details summary:focus {
  border-color: var(--color-text-secondary);
  outline: none;
}

details[open] summary {
  margin-bottom: 0.5rem;
}

details ::marker {
  content: '';
}

details h2 {
  font-size: var(--font-size-large);
  font-weight: 400;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--pad-large);
}

main header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

main header h1 {
  font-size: var(--font-size-heading);
  font-weight: 400;
  margin: 0;
}

main header h2 {
  color: var(--color-text-secondary);
  font-size: var(--font-size-regular);
  font-weight: 400;
  margin: 0;
}

main header img {
  width: 3rem;
}

@media only screen and (min-width: 512px) {
  main header img {
    width: 8rem;
  }
}

main footer {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  padding: var(--pad-large) 0 0;
  text-align: center;
}

main footer a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

main footer a:hover,
main footer a:focus {
  outline: none;
  text-decoration: underline;
}
